<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>profile</title>
</head>
<body>
<h2>Hello [[${user.firstName}]]</h2>
<ul>
    <h3> Username: [[${user.username}]] </h3>
    <h3> Name: [[${user.firstName}]] </h3>
    <h3> Date Of Birth: [[${user.dateOfBirth}]] </h3>
    <h3> Biography : [[${user.bio}]] </h3>
</ul>

<h2>What friends have you made so far? </h2>
<ul>
    <li th:each="userImFollowing : ${user.usersFollowedMe}">
</ul>

<h2> What did you say???</h2>
<ul>
    <li th:each="post: ${user?.posts}">
        <h3> Post body: [[${post.body}]] <h5>Posted at: [[${post.createdAt}]]<br>By: [[${user.username}]]</h5></h3>
        <form method="POST" th:action="'/profile/' + ${post.id}">
            <input type="hidden" name="_method" value="DELETE" />
            <input type="submit" value="Delete" />
        </form>
    </li>
</ul>

</body>
</html>